<div class="container">
    <h1 class="header">Your Cart</h1>

    <div class="empty-cart" *ngIf="itensDoCarrinho.length === 0">
        You have no items in your cart
    </div>
    <ul class="cart" *ngIf="itensDoCarrinho.length > 0">
        <li class="cart-item" *ngFor="let produto of itensDoCarrinho">
            <div class="product">
                <div class="product-details">
                    <img [src]="obterUrlDaImagem(produto)" [alt]="produto.nome" />
                    <div class="product-info">
                        <div class="name">{{ produto.nome }}</div>
                        <div class="description">{{ produto.descricao }}</div>
                        <div class="category">Part Type: {{ produto.categoria }}</div>
                    </div>
                </div>
                <div class="price">
                    <div [ngClass]="{ strikethrough: produto.desconto > 0 }">
                        {{ produto.preco | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                    </div>
                    <div *ngIf="produto.desconto > 0" class="discount">
                        {{ produto.preco * (1 - produto.desconto) | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                    </div>
                    <button (click)="removerDoCarrinho(produto)">Remove</button>
                </div>
            </div>
        </li>
    </ul>
    <div class="total">Total: {{ totalDoCarrinho | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</div>
</div>