@model BethanysPieShop.ViewModels.TortaListaViewModel

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bethany's Pie Shop</title>
</head>

<body>
    <h1>@Model.CategoriaAtual</h1>
    @foreach (var torta in Model.Tortas)
    {
        <div>
            <h2>@torta.Nome</h2>
            <h3>@torta.Preco.ToString("c")</h3>
            <h4>@torta.Categoria.CategoriaNome</h4>
        </div>
    }
</body>

</html>