@model TortaListaViewModel;

<h1>@Model.CategoriaAtual</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var torta in Model.Tortas)
    {
        <partial name="_TortaCard" model="torta" />
    }
</div>
