<div class="container">
    <div class="filters">
        <a class="button" (click)="filtro='Heads'">Cabeças</a>
        <a class="button" (click)="filtro='Arms'">Braços</a>
        <a class="button" (click)="filtro='Torsos'">Troncos</a>
        <a class="button" (click)="filtro='Bases'">Bases</a>
        <a class="button" (click)="filtro=''">Todos</a>
    </div>

    <ul class="products">
        <li class="product-item" *ngFor="let produto of obterProdutosFiltrados()">
            <div class="product">
                <div class="product-details">
                    <img [src]="obterCaminhoImagem(produto)" [alt]="produto.name" />
                    <div class="product-info">
                        <div class="name">{{ produto.name }}</div>
                        <div class="description">{{ produto.description }}</div>
                        <div class="category">Tipo de Peça: {{ produto.category }}</div>
                    </div>
                </div>
                <div class="price">
                    <div *ngIf="produto.discount === 0">R$ {{ produto.price.toFixed(2) }}</div>
                    <div *ngIf="produto.discount > 0" class="discount">
                        R$ {{ (produto.price * (1 - produto.discount)).toFixed(2) }}
                    </div>
                    <button class="cta">Comprar</button>
                </div>
            </div>
        </li>
    </ul>
</div>